# Ignore WordPress core files
wp-admin/
wp-content/index.php
wp-content/languages/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php

# Ignore uploads
wp-content/uploads/

# Ignore log files
*.log

# Ignore .htaccess
/.htaccess

# Ignore Local by Flywheel configuration files
/.localbyflywheel/

# Ignore cache and temporary files
wp-content/cache/
wp-content/upgrade/
wp-content/temp/
wp-content/backups/
wp-content/advanced-cache.php
wp-content/cache-config.php

# Ignore environment-specific files
.env
.env.example
/.env.*

# Ignore vendor dependencies managed by Composer
/vendor/

# Ignore compiled theme assets
/dist/
/node_modules/
npm-debug.log*

web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# WP-CLI
wp-cli.local.yml
