# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
Sites/thrivedx/wp-admin/
Sites/thrivedx/wp-content/index.php
Sites/thrivedx/wp-content/languages/
Themes/wp-content/themes/index.php
Sites/thrivedx/wp-content/themes/index.php
Sites/thrivedx/wp-includes/
Sites/thrivedx/index.php
Sites/thrivedx/license.txt
Sites/thrivedx/readme.html
Sites/thrivedx/wp-*.php
Sites/thrivedx/xmlrpc.php

# Configuration
/Sites/thrivedx/wp-config.php

# Example themes
Sites/thrivedx/wp-content/themes/twenty*/

# Example plugin
Sites/thrivedx/wp-content/plugins/hello.php

# Uploads
Sites/thrivedx/wp-content/uploads/

# Log files
*.log

# htaccess
Sites/thrivedx/.htaccess

# Optional Plugins
Plugins/akismet/
Plugins/elementor/

# Using Must-Use, no need for wp-include
Sites/thrivedx/wp-includes/

# Plugin works independently of wp-admin
Sites/thrivedx/wp-admin/