# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
Sites/wp-admin/
Sites/wp-content/index.php
Sites/wp-content/languages
Sites/wp-content/plugins/index.php
Themes/wp-content/themes/index.php
Plugins/wp-content/plugins/index.php
Sites/wp-content/themes/index.php
Sites/wp-includes/
Sites/index.php
Sites/license.txt
Sites/readme.html
Sites/wp-*.php
Sites/xmlrpc.php

# Configuration
/Sites/wp-config.php

# Example themes
Sites/wp-content/themes/twenty*/

# Example plugin
Sites/wp-content/plugins/hello.php

# Uploads
Sites/wp-content/uploads/

# Log files
*.log

# htaccess
Sites/.htaccess

# Optional Plugins
Plugins/akismet/
Plugins/elementor/

# Using Must-Use, no need for wp-include
Sites/thrivedx/wp-includes/

# Plugin works independently of wp-admin
Sites/thrivedx/wp-admin/